---
import TagIcons from "@/features/components/Post/tagIcon/TagIcons";
import Layout from "@/layouts/Layout.astro";
import { articles } from "@/libs/article";
import { formatDateJapanese } from "@/libs/date";
import { marked } from "@/libs/marked";
import "highlight.js/styles/github.css";

export function getStaticPaths() {
  const paths = articles
    ?.map((article) => {
      if (article?.title === undefined) {
        return null;
      }
      return { params: { title: article.title } };
    })
    .filter(Boolean);
  return paths;
}

const { title } = Astro.params;

const article = articles?.find((article) => article?.title === title);

if (article === undefined) {
  throw new Error("articles is undefined");
}

const content = marked.parse(article.body);
---

<Layout>
  <main class="flex-1">
    <article>
      <div class="bg-slate-200 py-16">
        <div class="container mx-auto px-2">
          <p class="text-slate-500">
            {formatDateJapanese(article.publishedAt)}
          </p>
          <h1 class="text-4xl mt-2 font-bold">{article.title}</h1>
          <div class="mt-10 mb-8">
            <TagIcons tags={article.tags} />
          </div>
        </div>
      </div>
      <section class="container mx-auto px-2 mt-10">
        <div
          set:html={content}
          class="mx-2 max-w-none md:mx-0 prose prose-headings:border-b-2 prose-headings:border-red-400 prose-h1:pb-1 prose-a:text-blue-500 prose-a:no-underline hover:prose-a:underline prose-blockquote:border-red-400 prose-blockquote:bg-red-50 prose-blockquote:rounded-r-md prose-li:list prose-table:w-fit prose-table:min-w-xl"
        />
      </section>
    </article>
  </main>
</Layout>
