---
import TagIcons from "@/features/components/Post/tagIcon/TagIcons";
import Layout from "@/layouts/Layout.astro";
import { articles } from "@/libs/article";
import { formatDateJapanese } from "@/libs/date";
import { Marked } from "marked";
import { markedHighlight } from "marked-highlight";
import hljs from "highlight.js";
import "highlight.js/styles/github.css";

export function getStaticPaths() {
  const paths = articles
    ?.map((article) => {
      if (article?.title === undefined) {
        return null;
      }
      return { params: { title: article.title } };
    })
    .filter(Boolean);
  return paths;
}

const { title } = Astro.params;

const article = articles?.find((article) => article?.title === title);

if (article === undefined) {
  throw new Error("articles is undefined");
}

const marked = new Marked(
  markedHighlight({
    emptyLangClass: "hljs",
    langPrefix: "hljs language-",
    highlight(code, lang, info) {
      const language = hljs.getLanguage(lang) ? lang : "plaintext";
      return hljs.highlight(code, { language }).value;
    },
  }),
);

const content = marked.parse(article.body);
---

<Layout>
  <div class="bg-slate-200 py-16">
    <div class="container mx-auto">
      <p class="text-slate-500">{formatDateJapanese(article.publishedAt)}</p>
      <h1 class="text-4xl mt-2 font-bold">{article.title}</h1>
      <div class="mt-10 mb-8">
        <TagIcons tags={article.tags} />
      </div>
    </div>
  </div>
  <main class="container mx-auto flex-1 mt-10">
    <article
      set:html={content}
      class="mx-2 max-w-none md:mx-0 prose prose-headings:border-b-2 prose-headings:border-red-400 prose-headings:pb-3 prose-a:text-blue-500 prose-a:no-underline hover:prose-a:underline prose-blockquote:border-red-400 prose-blockquote:bg-red-50 prose-blockquote:rounded-r-md prose-li:list"
    />
  </main>
</Layout>
