---
import { formatDateJapanese } from "@/libs/date";
import type { Article } from "@/types/Article";

interface Props {
  article: Article;
}

const { article } = Astro.props;

const { title, description, publishedAt } = article;
const formatedDate = formatDateJapanese(publishedAt);
---

<div class="flex flex-1">
  <a
    href={`/article/${title}`}
    class="group grid grid-rows-2 flex-1 rounded-lg border-b-4 bg-slate-100 py-3 gap-3 duration-100 hover:border-none hover:translate-y-[4px] active:bg-slate-200"
  >
    <h2 class="px-5 text-2xl font-bold group-hover:underline">
      {title}
    </h2>
    <div class="flex flex-1 justify-between px-5 flex-col">
      <p class="flex-1">{description}</p>
      <div class="flex">
        <p class="text-sm text-end flex-1 py-1 mr-4 after:bg-red">
          {formatedDate}
        </p>
        <span class="flex items-center">
          <svg
            class="w-6 h-6 text-white rounded-full bg-red-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              d="M5 12h13m0 0l-4-4m4 4l-4 4"></path>
          </svg>
        </span>
      </div>
    </div>
  </a>
</div>
