---
import LogoList from "@/components/elements/logo/logoList.astro";
import Head from "@/components/Head.astro";
import Layout from "@/layouts/Layout.astro";

const title = "Contact yDog";
const description = "yDogへのお問い合わせページです。";
const path = "/contact";
---

<Layout>
  <Head
    slot="head"
    title={title}
    description={description}
    contentType="article"
    path={path}
  />
  <main class="flex flex-1">
    <div class="my-10 flex flex-1 flex-col items-center justify-center">
      <LogoList />
      <a
        href="mailto:ydog-1@outlook.jp"
        class="mt-10 text-2xl text-blue-500 font-medium font-mono hover:underline"
      >
        ydog-1@outlook.jp
      </a>
    </div>
  </main>
</Layout>
