---
import ArticleList from "@/components/article/articleList.astro";

interface Props {
  tag?: string;
}

const { tag } = Astro.props;
---

<div class="mx-auto container">
  <ArticleList tag={tag} />
</div>
