---
import ChildrenPostList from "@/features/components/PostList/BeforePostList";
import FirstPost from "@/features/components/PostList/FirstPost";
import { getList } from "@/libs/microcms";
import type { MicroCMSQueries } from "microcms-js-sdk";

interface Props {
  queries?: MicroCMSQueries;
}

const { queries = {} } = Astro.props;

const { hasContents, firstContent, otherContents, totalCount } = await getList(
  queries,
).then(({ contents, totalCount }) => {
  if (!contents || contents.length === 0) {
    return {
      hasContents: false,
      firstContent: undefined,
      otherContents: undefined,
      totalCount,
    };
  }
  return {
    hasContents: true,
    firstContent: contents[0],
    otherContents: contents.slice(1),
    totalCount,
  };
});
---

{
  hasContents && firstContent ? (
    <div class="container mx-auto">
      <FirstPost firstContent={firstContent} />
      <ChildrenPostList contents={otherContents} totalCount={totalCount} />
    </div>
  ) : (
    <div />
  )
}
