---
import Head from "@/components/Head.astro";
import TagPage from "@/components/TagPageList/TagPageList.astro";
import Layout from "@/layouts/Layout.astro";
import articles from "@/libs/articles";

const { tagName } = Astro.params;

export function getStaticPaths() {
  const paths = articles
    ?.flatMap((article) => {
      if (article?.tags === undefined) {
        return null;
      }
      return article.tags.map((tag) => {
        return { params: { tagName: tag } };
      });
    })
    .filter(Boolean);
  return paths;
}
---

<Layout>
  <Head
    slot="head"
    title={tagName}
    description={`タグ「${tagName}」の記事一覧`}
    contentType="article"
  />
  <main class="container mx-auto px-2 flex-1">
    <TagPage tagName={tagName} />
  </main>
</Layout>
