---
export const prerender = false;
// import { getSecret } from "astro:env/server";
import Head from "@/components/Head.astro";
import ArticlePage from "@/components/article/articlePage.astro";
import Layout from "@/layouts/Layout.astro";
import { getUnpublishedArticleByTitle } from "@/libs/article.ts";

// URLからtitleパラメータを取得
const title = Astro.url.searchParams.get("title");
if (title === null) {
  return Astro.redirect("/");
}

// const githubToken = getSecret("GITHUB_TOKEN");
// if (!githubToken) {
//   throw new Error("GITHUB_TOKEN is not set");
// }

const article = await getUnpublishedArticleByTitle(title);
if (article === undefined) {
  return Astro.redirect("/");
}

const path = "/preview";
---

<Layout>
  <Head
    slot="head"
    title={article ? `${article.title} (プレビュー)` : "プレビュー"}
    description={article ? article.description : "記事プレビュー"}
    contentType="article"
    path={path}
  />
  <main>
      <ArticlePage article={article} />
  </main>
</Layout>
