---
import Footer from "@/components/layouts/Footer.astro";
import { Header } from "@/components/layouts/Header";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
