---
import { tagColors, defaultTagColor } from "@/libs/tag";
import { textWhite } from "@/libs/color";

interface Props {
  tagName: string;
}

const { tagName } = Astro.props;

const tagStyle = tagColors?.find((tag) => tag.name === tagName) ?? {
  bg: defaultTagColor,
  textColor: textWhite,
};
---

<div>
  <slot />
</div>

<style define:vars={{ bgColor: tagStyle.bg, textColor: tagStyle.textColor }}>
  div {
    background-color: var(--bgColor);
    color: var(--textColor);
  }
</style>
